---
import { Card, CardContent, CardHeader, CardTitle } from '@/components/ui/card'
import { Button } from '@/components/ui/button'
import BaseLayout from '@/layouts/BaseLayout.astro'
import GithubStats from 'astro-github-stats'
import { Avatar } from '@/components/ui/avatar'
import GrommetIconsGithub from '~icons/grommet-icons/github'
import GrommetIconsTwitter from '~icons/grommet-icons/twitter'
---

<BaseLayout title="Heimdall" description="Codeseys's Personal Website">
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <Card>
      <CardHeader>
        <Avatar>
          <img src="https://github.com/baladithyab.png" alt="@baladithyab" />
        </Avatar>
        <!-- <img src="https://github.com/baladithyab.png" alt="@baladithyab" /> -->
        <CardTitle>Codeseys</CardTitle>
      </CardHeader>
      <CardContent>
        <p class="text-sm text-muted-foreground">
          Welcome to my profile! I'm a passionate developer with a love for open
          source and creating amazing things.
        </p>
        <div class="mt-4 grid grid-cols-2 gap-4">
          <Button variant="secondary" className="w-full">
            <GrommetIconsGithub class="mr-2 h-4 w-4" />
            GitHub
          </Button>
          <Button variant="secondary" className="w-full">
            <GrommetIconsTwitter class="mr-2 h-4 w-4" />
            Twitter
          </Button>
        </div>
      </CardContent>
    </Card>
    <div>
      <!-- show your account stats w/ icons -->
      <GithubStats username="baladithyab" showIcons={true} />

      <!-- show your account top languages -->
      <GithubStats username="baladithyab" topLanguages={true} />
    </div>
  </section>
</BaseLayout>
