---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
  title="Heimdall"
  description="Codeseys's Protected Personal Website"
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div>
      <h1>Protected!!!</h1>
    </div>
  </section>
</BaseLayout>
