---
import ThemeToggle from '@/components/ThemeToggle.astro'
import { Image } from 'astro:assets'
import Logo from '../../public/favicon.svg'
import type { Session } from '@auth/core/types'
import { Auth } from 'auth-astro/components'
import { getSession } from 'auth-astro/server'
import { signIn, signOut } from 'auth-astro/client'
import { Astronav, MenuItems } from 'astro-navbar'

let session = await getSession(Astro.request)
---

<header
  class="mx-auto w-full justify-between gap-5 border-b bg-background p-5 lg:flex"
>
  <Astronav>
    <div class="flex w-full justify-between lg:w-auto">
      <a href="/" class="flex items-center space-x-2">
        <Image src={Logo} alt="Logo" width="50" height="50" />
      </a>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        <li class="my-2">
          <a href="/">Home</a>
        </li>
        <li class="my-2">
          <a href="profile">Github Stats</a>
        </li>
        <li class="my-2">
          <a href="gh-stats">Server Status</a>
        </li>
        {
          session && (
            <li class="my-2">
              <a href="protected">Protected</a>
            </li>
          )
        }
        <li class="my-2">
          <Auth>
            {
              (session: Session) => (
                <div class="flex items-center space-x-2">
                  {session ? (
                    <>
                      <p>Logged in as {session.user?.name}</p>
                      <button class="logout-btn" data-logout>
                        Logout
                      </button>
                    </>
                  ) : (
                    <button class="login-btn" data-login>
                      Login
                    </button>
                  )}
                </div>
              )
            }
          </Auth>
        </li>
      </ul>
    </MenuItems>
    <ThemeToggle />
  </Astronav>
</header>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const logoutButton = document.querySelector('[data-logout]')
    if (logoutButton) {
      logoutButton.addEventListener('click', () => signOut())
    }

    const loginButton = document.querySelector('[data-login]')
    if (loginButton) {
      loginButton.addEventListener('click', () => signIn('github'))
    }
  })
</script>
